.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1300px;
  margin: 1rem auto;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #282c34;
  }

  .top-row {
    display: flex;
    section {
      flex-grow: 1;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-style: dotted; // }
      border-width: 1px; // }         temp, remove later
      border-color: lightgrey; // }
      h1 {
        font-weight: normal;
      }
    }

    .DrinkCalculator form {
      flex-direction: column;
      display: flex;

      .save-drink {
        align-self: center;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
      }
    }

    .DrinkCalculator form input {
      margin: 5px;
    }
  }
}



.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}


